@use '../utils' as *;

.it-btn-main{
	display: inline-block;
	background-color: var(--it-theme-2);
	font-weight: 700;
	font-size: 14px;
	color: var(--it-common-white);
	padding: 0 50px;
	height: 60px;
	line-height: 60px;
	position: relative;
	transition: .4s;
	text-transform: uppercase;
	&.color{
		&::before{
			background-color: #d42c05;
		}
	}
	&::before{
		content: '';
		height: 100%;
		width: 4px;
		background-color: var(--it-theme-1);
		position: absolute;
		top: 0;
		left: 0;
		transition: .4s;
	}
	& span {
		position: relative;
		z-index: 2;
	}
	@media #{$xs}{
        font-size: 12px;
    }
	&:hover {
		&::before{
			width: 100%;
		}
		color: var(--it-common-white);
	}
}
.it-btn-red{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 0 50px;
	height: 60px;
	line-height: 60px;
	position: relative;
	transition: .4s;
	text-transform: uppercase;
	color: var(--it-common-white);
	background-color: var(--it-theme-1);
	&:hover{
		background-color: var(--it-common-white);
		color: var(--it-common-black);
	}
	&.black {
		&:hover{
			background-color: var(--it-common-black);
			color: var(--it-common-white);
		}
	}
}
.it-btn-black{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 0 50px;
	height: 60px;
	line-height: 60px;
	position: relative;
	transition: .4s;
	text-transform: uppercase;
	color: var(--it-common-white);
	background-color: var(--it-common-black);
	&:hover{
		background-color: var(--it-theme-1);
		color: var(--it-common-white);
	}
}
.it-btn-white{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 0 50px;
	height: 60px;
	line-height: 60px;
	position: relative;
	transition: .4s;
	text-transform: uppercase;
	color: var(--it-common-black);
	background-color: var(--it-common-white);
	&:hover{
		background-color: var(--it-common-black);
		color: var(--it-common-white);
	}
}
.it-btn-white-sm{
	display: inline-block;
	font-weight: 700;
	font-size: 14px;
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	position: relative;
	transition: .3s;
	text-transform: uppercase;
	color: var(--it-common-white);
	background-color: var(--it-theme-1);
	&:hover{
		background-color: var(--it-common-white);
		color: var(--it-common-black);
	}
}