@use '../utils' as *;

/*----------------------------------------*/
/*  09. contact css start
/*----------------------------------------*/

.it-contact-4 {
  &-left-box {
    background-color: #ff4d24;
    padding: 60px 80px;
    padding-left: 375px;
    margin-right: 85px;
    margin-top: 30px;
    position: relative;
    z-index: 1;
    @media #{$xxxl} {
      padding-left: 220px;
    }
    @media #{$xxl} {
      padding-left: 100px;
    }
    @media #{$xl} {
      padding-left: 90px;
      margin-right: 30px;
    }
    @media #{$lg} {
      padding-left: 50px;
      padding-right: 50px;
      margin-right: 30px;
    }
    @media #{$md,$xs} {
      padding: 60px 20px;
      margin-right: 0px;
      margin-bottom: 50px;
    }
  }
  &-form-box {
    margin-bottom: 50px;
    & form {
      & input {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 30px;
        padding: 0;
        height: 40px;
        line-height: 40px;
        color: var(--it-common-white);
        background-color: transparent;
        border-bottom: 1px solid #e0a1a1;
        @include it-placeholder {
          color: var(--it-common-white);
        }
        &:focus {
          border-color: #fff;
        }
      }
      & textarea {
        resize: none;
        font-size: 16px;
        font-weight: 400;
        padding-top: 5px;
        padding-left: 0;
        height: 115px;
        border-bottom: 1px solid #e0a1a1;
        color: var(--it-common-white);
        background-color: transparent;
        @include it-placeholder {
          color: var(--it-common-white);
        }
        &:focus {
          border-color: #fff;
        }
      }
    }
  }
  &-thumb {
    margin-left: -165px;
    @media #{$md,$xs} {
      margin-left: 0;
    }
    & img {
      max-width: inherit;
      @media #{$md,$xs} {
        max-width: 100%;
      }
    }
  }
}
.it-contact {
  &__location {
    @media #{$md,$xs} {
      margin-top: 50px;
    }
    & iframe {
      width: 100%;
      height: 480px;
      line-height: 0;
    }
  }
  &__content {
    & h5 {
      font-size: 24px;
      font-weight: 700;
      color: var(--it-theme-1);
      padding-bottom: 15px;
    }
    & ul {
      margin-bottom: 15px;
      & li {
        display: block;
        list-style-type: none;
        padding-bottom: 20px;
      }
    }
    & > a {
      font-size: 18px;
      font-weight: 700;
      color: var(--it-common-white);
      letter-spacing: 5px;
      transition: 0.3s;
      &:hover {
        color: var(--it-theme-1);
      }
    }
  }
  &__list {
    & span {
      font-size: 18px;
      color: var(--it-common-white);
      font-weight: 700;
      display: block;
      padding-bottom: 5px;
    }
    & > a {
      transition: 0.3s;
      &:hover {
        color: var(--it-theme-1);
      }
    }
  }
  &__section-box {
    & p {
      @media #{$lg,$md,$xs} {
        font-size: 14px;
      }
    }
  }
}
.it-contact {
  &-wrap {
    padding: 75px;
    @media #{$xs} {
      padding: 75px 15px;
    }
  }
  &-title {
    font-weight: 700;
    font-size: 36px;
    @media #{$md} {
      font-size: 30px;
    }
    @media #{$xs} {
      font-size: 27px;
    }
  }
  &-input-box {
    & input {
      height: 60px;
      line-height: 60px;
      padding: 0 25px;
      background-color: #353535;
      color: var(--it-common-white);
      border: 1px solid transparent;
      &:focus {
        border: 1px solid var(--it-theme-1);
      }
    }
    & textarea {
      height: 150px;
      padding: 25px;
      resize: none;
      background-color: #353535;
      color: var(--it-common-white);
      border: 1px solid transparent;
      &:focus {
        border: 1px solid var(--it-theme-1);
      }
    }
  }
}

.it-shop-select {
  &::after {
    content: '\2B9F' !important; // Unicode for down arrow
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #9e9e9e !important;
    font-size: 14px;
  }
}

// Custom Select
.custom-select {
  box-sizing: border-box;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: 400;
  font-size: 16px;
  color: #9e9e9e;
  background-color: transparent;
  border: 1px solid #494748;
  display: inline-block;
  width: 100%;
  height: 60px;
  padding-right: 90px;
  padding-left: 20px;
  line-height: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  &:focus {
    outline: none;
    border-color: #ff4d24;
  }
}

.custom-select option {
  overflow: hidden;
}
