@use '../utils' as *;

/*----------------------------------------*/
/*  12. gallery css start
/*----------------------------------------*/
.it-gallery {
  &-item {
    &:hover {
      & .it-gallery-title {
        top: 44%;
      }
      & > .it-gallery-text {
        opacity: 1;
        bottom: 39.2%;
        @media #{$xxxl} {
          bottom: 36%;
        }
        @media #{$xxl} {
          bottom: 35%;
        }
        @media #{$xl} {
          bottom: 37%;
        }
        @media #{$lg} {
          bottom: 35%;
        }
        @media #{$md} {
          bottom: 37%;
        }
        @media #{$sm} {
          bottom: 33.2%;
        }
      }
    }
  }
  &-text {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30%;
    text-align: center;
    transition: 0.5s;
    opacity: 0;
    & p {
      line-height: 26px;
      color: var(--it-common-white);
      @media #{$lg,$md,$xs} {
        font-size: 14px;
      }
    }
  }
  &-title {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    text-transform: capitalize;
    transform: translateY(-50%);
    transition: 0.5s;
    & h5 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 0;
      @media #{$xxl} {
        font-size: 27px;
      }
      @media #{$xl} {
        font-size: 25px;
      }
      @media #{$lg} {
        font-size: 23px;
      }
      @media #{$md,$xs} {
        font-size: 22px;
      }
    }
  }
  &-thumb {
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    & img {
      width: 100%;
    }
    &::after {
      content: '';
      height: 100%;
      width: 100%;
      background-color: rgb(14, 14, 14);
      opacity: 0.302;
      top: 0;
      left: 0;
      position: absolute;
    }
  }
  &-number {
    padding-top: 70px;
    & > span {
      color: var(--it-common-white);
      font-weight: 700;
      font-family: var(--it-ff-heading);
      position: relative;
      &::after {
        content: '';
        height: 40px;
        width: 1px;
        top: -50px;
        left: 50%;
        right: 0;
        text-align: center;
        position: absolute;
        background-color: #747272;
      }
    }
  }
  &-active {
    margin: -30px -215px;
    padding: 30px 0;
    @media #{$xl,$xs} {
      margin: -30px -20px;
      padding: 30px 0;
    }
  }
}

.it-gallery-active {
  & .swiper-slide {
    transform: scale(0.9);
    transition: 0.5s;
    &.swiper-slide-active {
      transform: scale(1.1);
    }
  }
}

.it-gallery-active-padding {
  padding: 30px 0 !important;
}
