@use '../utils' as *;

/*----------------------------------------*/
/*  17. project css start
/*----------------------------------------*/
.col-custom {
  flex: 1;
  width: 290px;
  height: 600px;
  margin: 0px 5px 20px 5px;
  transition: 0.4s;
  cursor: pointer;
  &.active {
    @media #{$xs} {
      width: 100%;
    }
  }
}

.row-custom {
  display: flex;
  margin: 0 -15px;
  @media #{$xs} {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.it-panel {
  &-content {
    height: 100%;

    & img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }

  &-title {
    font-size: 24px;
    line-height: 1.4;
    margin-bottom: 0;
    @media #{$xl,$lg} {
      font-size: 20px;
      margin-right: 20px;
      & br {
        display: none;
      }
    }
    @media #{$md,$xs} {
      font-size: 20px;
      margin-bottom: 20px;
      & br {
        display: none;
      }
    }
  }

  &-icon {
    & > a {
      font-size: 24px;
      display: inline-block;
      width: 60px;
      height: 60px;
      line-height: 67px;
      border-radius: 50%;
      text-align: center;
      color: var(--it-common-white);
      background-color: rgba(255, 255, 255, 0.2);
      transition: 0.3s;

      &:hover {
        color: var(--it-theme-1);
      }
    }
    &.black-color {
      & a {
        background-color: var(--it-common-black);
      }
    }
  }

  &-item-box {
    &.text-color {
      position: relative;

      &::after {
        content: '';
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s;
        background-image: linear-gradient(
          0deg,
          rgb(255, 56, 56) 0%,
          rgba(0, 0, 0, 0) 100%
        );
      }
    }
  }

  &-title-2 {
    font-size: 24px;
    font-weight: 700;
    padding: 12px 30px;
    background-color: var(--it-common-black);
    color: var(--it-common-white);
    text-transform: uppercase;
    margin-bottom: 0;

    @media #{$lg} {
      font-size: 17px;
    }
  }

  &-item-2 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0;
    opacity: 0;
    margin: 40px;
    z-index: 1;
    visibility: hidden;
    transition-delay: 0.4s;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
  }
}

.it-panel-text {
  @media #{$md} {
    flex-wrap: wrap;
  }
}
.it-panel-item-2 {
  @media #{$md} {
    margin: 30px 15px;
  }
}

.col-custom.active {
  flex: 2;
  height: 360px;

  & .it-panel-content {
    & img {
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  }

  & .it-panel-item-2 {
    opacity: 1;
    visibility: visible;
    transition-delay: 0.3s;
  }

  & .it-panel-item-box.text-color {
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }
}

.it-project {
  &-list-box {
    & ul {
      & li {
        border-top: 1px solid var(--it-border-1);
        list-style-type: none;
        padding: 52px 0;
        position: relative;

        @media #{$lg} {
          padding: 35px 0;
        }

        @media #{$md,$xs} {
          padding: 25px 0;
        }

        &:last-child {
          border-bottom: 1px solid var(--it-border-1);
        }

        &:hover {
          & .it-project-content-thumb {
            opacity: 1;
            visibility: visible;
            transform: scale(1);
          }

          & .it-project-content {
            padding-left: 90px;

            @media #{$xxl} {
              padding-left: 70px;
            }

            @media #{$xl} {
              padding-left: 70px;
            }

            @media #{$lg} {
              padding-left: 60px;
            }

            @media #{$md} {
              padding-left: 40px;
            }

            @media #{$xs} {
              padding-left: 0;
            }
          }

          & .it-project-content-arrow {
            left: 0;

            @media #{$xs} {
              display: none;
            }
          }
        }
      }
    }
  }

  &-content {
    transition: 0.5s;
    overflow: hidden;

    &-thumb {
      position: absolute;
      z-index: 1;
      top: -101%;
      left: 31%;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      transform: scale(0.7);

      @media #{$lg} {
        top: -63%;
      }

      @media #{$md} {
        top: -62%;
      }

      @media #{$xs} {
        display: none;
      }
    }

    &-arrow {
      position: absolute;
      top: -5px;
      left: -80px;
      transition: 0.5s;

      @media #{$lg} {
        top: -10px;
      }

      @media #{$md,$xs} {
        top: -12px;
      }

      & span {
        & svg {
          @media #{$xxl} {
            width: 40px;
          }

          @media #{$xl} {
            width: 38px;
          }

          @media #{$lg} {
            width: 35px;
          }

          @media #{$md,$xs} {
            width: 25px;
          }
        }
      }
    }

    &-title {
      font-size: 36px;
      font-weight: 600;
      position: relative;
      z-index: 2;

      @media #{$xxl} {
        font-size: 32px;
      }

      @media #{$xl} {
        font-size: 30px;
      }

      @media #{$lg} {
        font-size: 25px;
      }

      @media #{$md} {
        font-size: 24px;
      }

      @media #{$xs} {
        font-size: 22px;
      }
    }

    &-text {
      margin-left: -30px;

      @media #{$xs} {
        margin-left: 0;
      }

      & p {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 0;

        @media #{$xl,$lg,$md,$xs} {
          font-size: 15px;
        }
      }
    }
  }

  &-shape-1 {
    position: absolute;
    top: 95px;
    right: 0;

    @media #{$xxl} {
      top: -30px;
      right: -20px;
    }

    @media #{$xl} {
      top: -30px;
      right: -30px;
    }
  }
}

.it-project-2 {
  &-section-box {
    @media #{$xs} {
      margin-bottom: 30px;
    }
  }

  &-plr {
    padding: 0 60px;
    @media #{$xl,$lg,$md} {
      padding: 0 15px;
    }
    @media #{$xs} {
      padding-right: 0px;
      padding-left: 15px;
    }
  }
}

.it-project-3 {
  &-item {
    &-content {
      margin-right: 45px;
      position: relative;
      z-index: 2;

      @media #{$md} {
        margin-right: 0;
      }

      @media #{$xs} {
        margin-right: 0;
        flex-wrap: wrap;
      }
    }
    &-bg {
      padding: 180px 365px;
      margin-right: 45px;
      position: relative;

      @media #{$xxxl} {
        padding: 130px 280px;
      }

      @media #{$xxl} {
        padding: 120px 250px;
        margin-right: 20px;
      }

      @media #{$xl} {
        padding: 100px 150px;
        margin-right: 0px;
      }

      @media #{$lg} {
        padding: 85px 30px;
        margin-right: 0;
      }

      @media #{$md} {
        padding: 85px 30px;
        margin-right: 0;
      }

      @media #{$xs} {
        padding: 65px 30px;
        margin-right: 0;
      }
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-image: url(../../img/project/project-3-1.jpg);
        height: 100%;
        width: 0%;
        opacity: 0;
        visibility: hidden;
        transition: 0.9s;
      }

      &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        background-color: rgba(24, 24, 24, 0.541);
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.4s;
      }
    }

    &-arrow {
      & a {
        font-size: 50px;
        display: inline-block;
        height: 150px;
        width: 150px;
        line-height: 150px;
        text-align: center;
        border-radius: 50%;
        color: var(--it-common-white);
        background-color: transparent;
        transition: 0.4s;

        @media #{$xl,$lg} {
          font-size: 40px;
          height: 100px;
          width: 100px;
          line-height: 100px;
        }

        @media #{$md} {
          font-size: 40px;
          height: 70px;
          width: 70px;
          line-height: 70px;
        }

        @media #{$xs} {
          font-size: 22px;
          height: 50px;
          width: 50px;
          line-height: 54px;
        }
      }
    }

    &-text {
      @media #{$xs} {
        margin-bottom: 20px;
      }

      & span {
        font-weight: 600;
        font-size: 18px;
        color: var(--it-common-white);
        display: inline-block;
        margin-bottom: 16px;
        text-transform: uppercase;

        @media #{$xl} {
          font-size: 16px;
        }

        @media #{$lg} {
          font-size: 15px;
        }

        @media #{$md} {
          font-size: 14px;
        }

        @media #{$xs} {
          font-size: 13px;
        }

        & i {
          font-style: normal;
          margin-left: 30px;
        }
      }
    }

    &-title {
      font-size: 48px;

      @media #{$xxl} {
        font-size: 45px;
      }

      @media #{$xl} {
        font-size: 40px;
      }

      @media #{$lg} {
        font-size: 35px;
      }

      @media #{$md} {
        font-size: 32px;
      }

      @media #{$xs} {
        font-size: 30px;
      }
    }
  }
}

.it-project-3-item-bg {
  &.active {
    &::after {
      width: 100%;
      opacity: 1;
      visibility: visible;
    }
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.it-portfolio-details {
  &-left {
    &-wrap {
      @media #{$md,$xs} {
        margin-bottom: 50px;
      }
    }
    &-item {
      margin-bottom: 25px;
      & span {
        font-size: 18px;
        font-weight: 400;
        color: #888888;
        @media #{$lg,$md,$xs} {
          font-size: 16px;
        }
      }
    }
    &-social {
      & a {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        text-align: center;
        line-height: 43px;
        color: var(--it-common-white);
        display: inline-block;
        margin-right: 15px;
        &.facebook {
          background-color: #4661c5;
        }
        &.twitter {
          background-color: #1da1f2;
        }
        &.instagram {
          background-color: #ff2e2e;
        }
        &.linkedin {
          background-color: #0073b0;
        }
      }
    }
    &-title {
      font-size: 26px;
      font-weight: 700;
      color: var(--it-common-white);
      @media #{$lg,$md,$xs} {
        font-size: 20px;
      }
    }
  }
  &-right {
    &-top {
      &-title {
        font-size: 40px;
        font-weight: 700;
        color: var(--it-common-white);
        line-height: 1.1;
        @media #{$lg,$md,$xs} {
          font-size: 32px;
        }
      }
      &-wrap {
        & p {
          font-size: 22px;
          font-weight: 400;
          color: var(--it-theme-1);
          line-height: 1.3;
          @media #{$lg,$md} {
            font-size: 18px;
          }
          @media #{$xs} {
            font-size: 16px;
            & br {
              display: none;
            }
          }
        }
      }
    }
    &-content {
      & p {
        @media #{$lg,$md,$xs} {
          font-size: 14px;
        }
      }
    }
  }
  &-right-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.1;
    color: var(--it-common-white);
    margin-bottom: 15px;
  }
}
