@use '../utils' as *;

/*----------------------------------------*/
/*  22. text slider css start
/*----------------------------------------*/
.it-text-slider {
  &-space {
    padding-top: 100px;
    padding-bottom: 145px;
    @media #{$md,$xs} {
      padding-top: 70px;
      padding-bottom: 100px;
    }
  }
  &-item {
    & span {
      font-weight: 700;
      font-size: 170px;
      font-family: var(--it-ff-heading);
      color: var(--it-common-white);
      line-height: 1;
      white-space: nowrap;
      @media #{$lg,} {
        font-size: 110px;
      }
      @media #{$md,$xs} {
        font-size: 90px;
      }
      & i {
        height: 20px;
        width: 20px;
        border-radius: 20px;
        background-color: var(--it-theme-1);
        display: inline-block;
        transform: translateY(-48px);
      }
    }
  }
  &-shape {
    &-1 {
      position: absolute;
      top: 32px;
      left: 330px;
      z-index: 1;
      @media #{$xxl} {
        left: 100px;
      }
      @media #{$xl} {
        left: 100px;
      }
      @media #{$lg} {
        left: 40px;
      }
    }
    &-2 {
      position: absolute;
      bottom: 30%;
      left: 39%;
      z-index: 1;
      @media #{$xxl} {
        left: 32%;
      }
      @media #{$xl} {
        left: 32%;
      }
      @media #{$lg} {
        left: 35%;
        bottom: 22%;
      }
    }
    &-3 {
      position: absolute;
      top: 1%;
      right: 33%;
      z-index: 1;
      @media #{$xl} {
        right: 30%;
      }
    }
    &-4 {
      position: absolute;
      bottom: 30%;
      right: 150px;
      z-index: 1;
      @media #{$xl} {
        right: 120px;
      }
      @media #{$lg} {
        right: 40px;
      }
    }
  }
}

.it-text-slider-5 {
  &-item {
    & > span {
      font-weight: 700;
      font-size: 70px;
      line-height: 1;
      white-space: nowrap;
      text-transform: uppercase;
      font-family: var(--it-ff-heading);
      color: var(--it-common-white);
      & > i {
        font-size: 40px;
        color: var(--it-theme-1);
        display: inline-block;
        transform: translateY(-12px);
      }
    }
    &.item-text {
      & > span {
        font-size: 170px;
        @media #{$xxl} {
          font-size: 130px;
        }
        @media #{$xl} {
          font-size: 110px;
        }
        @media #{$lg,$md} {
          font-size: 100px;
        }
        @media #{$xs} {
          font-size: 95px;
        }
        & > i {
          font-style: normal;
          -webkit-text-stroke: 1px #fff;
          font-weight: 600;
          color: transparent;
          transform: translateY(-3px);
          font-size: 170px;
          position: relative;
          @media #{$xxl} {
            font-size: 130px;
          }
          @media #{$xl} {
            font-size: 110px;
          }
          @media #{$lg,$md} {
            font-size: 100px;
          }
          @media #{$xs} {
            font-size: 95px;
          }
          &::after {
            position: absolute;
            content: '';
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: var(--it-theme-1);
            top: 50%;
            right: -2%;
            transform: translateY(-50%);
            @media #{$lg,$md,$xs} {
              height: 10px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}

.custom-text-slider {
  &-item {
    & span {
      font-weight: 900;
      font-size: 140px;
      line-height: 1;
      text-transform: uppercase;
      display: inline-block;
      color: transparent;
      font-family: var(--it-ff-roboto);
      -webkit-text-stroke: 1px rgba($color: #fff, $alpha: 1);

      @media #{$xxl} {
        font-size: 130px;
      }
      @media #{$xl} {
        font-size: 110px;
      }
      @media #{$lg,$md} {
        font-size: 100px;
      }
      @media #{$xs} {
        font-size: 95px;
      }
    }

    & img {
      margin: 0 10px;
      transform: translateY(-42px);
    }
  }
}

.custom-text-slider-wrapper {
  & .slider-transition {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }
  & .swiper-slide {
    width: auto;
  }
}

.rfm-marquee-container {
  overflow: hidden !important;
}
