$colors: (
    'common': (
        'white': #ffffff,
        'black': #0e0e0e,
        'black-2': #1f1f1f,
    ),
    'heading': (
        'primary': #ffffff,
    ),
    'grey': (
    ),
    'text': (
        'body':#888888,
    ),
    'theme': (
        '1':#ff4d24,
        '2':#353535,
        '3':#181818,
    ),
    'border': (
        '1':#3a3a3a,
        '2':#373737,
        '3':#353535,
    )
);
